.menu ul {
  display: flex;
  background-color: #777;
  list-style: none;
  padding: 0;
  border-radius: 50px;
  overflow: hidden;
  /* width: 40rem; */
}

.menu li {
  flex: 1;
}

.menu a {
  display: flex;
  justify-content: center;
  padding: 15px 40px;
  text-decoration: none;
  font-weight: 600;
  white-space: nowrap;
}

.menu .active {
  background-color: #2392f0;
}

.menu .active a {
  color: #fff;
}

.menu a {
  color: #fff;
}
